<div class="tarjet">

  <div class="banner">

    <form class="search-form" [formGroup]="carPoolTripFrom" (submit)="save()">
      <input type="text" class="form-control" [ngClass]="{'is-invalid': carPoolTripFrom.controls['departure'].touched && carPoolTripFrom.controls['departure'].invalid}" placeholder="Départ" name="departure" formControlName="departure" required />
      <div class="invalid-feedback" *ngIf="carPoolTripFrom.controls['departure'].invalid">Départ obligatoire</div>
      <input type="text" class="form-control" [ngClass]="{'is-invalid': carPoolTripFrom.controls['arrival'].touched && carPoolTripFrom.controls['arrival'].invalid}" placeholder="Destination" name="arrival" formControlName="arrival" required />
      <div class="invalid-feedback" *ngIf="carPoolTripFrom.controls['arrival'].invalid">Destination obligatoire</div>
      <div class="row">
        <div class="col-9">
          <input
				class="form-control"
        [ngClass]="{'is-invalid': carPoolTripFrom.controls['date'].touched && carPoolTripFrom.controls['date'].invalid}"
				placeholder="yyyy-mm-dd"
				name="date"
				ngbDatepicker
        [minDate]="minDate"
				#d="ngbDatepicker"
        formControlName="date"
			/>
      <div class="invalid-feedback" *ngIf="carPoolTripFrom.controls['date'].invalid">Date obligatoire</div>
        </div>
        <div class="col-3">
          <button class="btn btn-rounded btn-success feather icon-calendar" (click)="d.toggle()" type="button"></button>
        </div>



      </div>

      <ngb-timepicker formControlName="time"
      [ngClass]="{'is-invalid': carPoolTripFrom.controls['time'].touched && carPoolTripFrom.controls['time'].invalid}" />
      <div class="invalid-feedback" *ngIf="carPoolTripFrom.controls['time'].invalid">Heure et Minute obligatoires</div>

      <input type="number" name="duration" placeholder="Durée" class="form-control" [ngClass]="{'is-invalid': carPoolTripFrom.controls['duration'].touched && carPoolTripFrom.controls['duration'].invalid}"  formControlName="duration"/>
      <div class="invalid-feedback" *ngIf="carPoolTripFrom.controls['duration'].invalid">Durée obligatoire</div>
      <select style="height: 50%;" name="passengers" formControlName="totalSeats" class="form-control" [ngClass]="{'is-invalid': carPoolTripFrom.controls['totalSeats'].touched && carPoolTripFrom.controls['totalSeats'].invalid}">
        <option value="1">1 passager</option>
        <option value="2">2 passagers</option>
        <option value="3">3 passagers</option>
      </select>
      <div class="invalid-feedback" *ngIf="carPoolTripFrom.controls['totalSeats'].invalid">Passagers obligatoire</div>

      <select style="height: 50%;" name="luggageType" formControlName="luggageType" class="form-control" [ngClass]="{'is-invalid': carPoolTripFrom.controls['luggageType'].touched && carPoolTripFrom.controls['luggageType'].invalid}">
        <option value="Aucun baggage">Aucun baggage</option>
        <option value="Petit sac">Petit sac</option>
        <option value="Valise cabine">Valise cabine</option>
        <option value="Grosse valise">Grosse valise</option>
      </select>
      <div class="invalid-feedback" *ngIf="carPoolTripFrom.controls['luggageType'].invalid">Type de bagage obligatoire</div>

      <div class="radio-group">
        <label>Animaux autorisés ?</label>
        <div class="radios">
          <label><input type="radio" name="petsAllowed" [value]="true" formControlName="petsAllowed" /> Oui</label>
          <label><input type="radio" name="petsAllowed" [value]="false" formControlName="petsAllowed" /> Non</label>
        </div>
      </div>
      <div class="radio-group">
        <label>Cigarette autorisées ?</label>
        <div class="radios">
          <label><input type="radio" name="smokingAllowed" [value]="true" formControlName="smokingAllowed"/> Oui</label>
          <label><input type="radio" name="smokingAllowed" [value]="false" formControlName="smokingAllowed" /> Non</label>
        </div>
      </div>
      <input type="number" name="price" placeholder="Prix (TND)"  formControlName="price" class="form-control" [ngClass]="{'is-invalid': carPoolTripFrom.controls['price'].touched && carPoolTripFrom.controls['price'].invalid}"/>
      <div class="invalid-feedback" *ngIf="carPoolTripFrom.controls['price'].invalid">Prix obligatoire</div>

      <button class="btn btn-rounded btn-success" type="submit">Publier un trajet</button>
    </form>
  </div>
</div>
