.banner {
  text-align: center;
  color: white;
  padding-left: 3%;
  display: block;

  .banner-text h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  .search-form {
    background: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    color: black;

    input,
    select {
      padding: 0.7rem;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 1rem;
    }

    .radio-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label {
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      .radios {
        display: flex;
        gap: 1rem;

        label {
          font-weight: normal;
        }

        input {
          margin-right: 0.3rem;
        }
      }
    }

    button {
      padding: 0.7rem;
      background: #00b5f1;
      color: white;
      border: none;
      border-radius: 10px;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.2s ease;

      &:hover {
        background: #0097cb;
      }
    }
  }
}
.timeline-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.city-info {
  text-align: center;
}

.hour {
  font-weight: bold;
  font-size: 18px;
}

.city {
  margin-top: 5px;
  font-size: 16px;
}

.line {
  position: relative;
  width: 4px;
  background-color: #ccc;
  height: 60px;
  margin: auto;
}

.line::before,
.line::after {
  content: "";
  position: absolute;
  margin-left:-6px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: #666;
  border-radius: 50%;
}

.line::before {
  top: 0; /* cercle au début */
}

.line::after {
  top: 60px; /* cercle à la fin */
}
.final-circle {
  width: 12px; /* même taille que le premier cercle */
  height: 12px;
  background-color: #666;
  border-radius: 50%;
}

.arrival {
  text-align: center;
}

.arrival .city {
  margin-top: 8px;
}

.btn-book
{
  padding: 0.7rem;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease;
}
.col-6.d-flex {
  gap: 20px; /* ou autre valeur selon ton besoin */
}
.horizontal-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  min-width: 250px; /* ajuste selon besoin */
}
